.form {
  padding: 8px;
  display: flex;
  border-top: 1px solid #ebebeb;
  width: 350px;
  align-items: center;
  gap: 12px
}
input {
  border: 0;
  outline: 0;
  outline: none !important;
  background-color: #f0f2f5;
  border-radius: 20px;
}

input:focus {
  outline: none !important;
  border: 0 !important;
}

.input {
  border: none;
  padding: 5%;
  flex: 1;
  font-size: 12px !important;
  margin-top: 2px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #242424;
  display: inline-block;
  border: none;
  display: flex;
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;

  .icon{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(50%, 50%);
  }
}
