.dieutri-tab{
    .MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium{
        color: white;
        font-size: 14px;
    }

    .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignRight.MuiTableCell-sizeMedium{
        font-size: 12px;
        text-transform: capitalize;
    }
    .MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root{
        font-size: 12px;
        font-weight: 700;
        text-transform: capitalize;
    }
}